@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #FBF5F3; /* Light background */
  --text-color-light: #000022; /* Dark text */
  --background-color-dark: #000022; /* Dark background */
  --text-color-dark: #FBF5F3; /* Light text */
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; /* Bold */
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Regular */
}
